# Keil MDK / ARMCC

**/Objects/*
!**/Objects/.gitkeep
**/Listings/*
!**/Listings/.gitkeep

*.o
*.d
*.crf
*.axf
*.elf
*.hex
*.bin
*.map
*.lst
*.htm
*.dep
*.lnp

*.uvguix.*
*.uvgui.*
*.uvoptx.bak
*.uvprojx.bak

*.bak
*.log
*.tmp
*.swp
*.swo

.vscode/

Thumbs.db
.DS_Store

*.zip
*.rar
*.7z
